<section class="contact_section" data-aos="fade-top">
      <div class="container -custom">
        <div class="row">
          <div class="col-md-12">
            <div class="contact-card" data-aos="fade">
              <div class="floating_line"></div>
              <div class="row">
                <div class="col-md-6">
                  <div class="contact-list mbl-t0">
                    <h2 class="block_info--title" data-aos="fade-up">Connect with Us</h2>
                    <span class="pill_underline" data-aos="fade-up"></span>
                    <div class="row align-items-center side_contain">
                      <div class="col-md-2 col-2 pr-0">
                        <img src="/themes/custom/jiobp/assets/images/air_bp/icons/user.svg" alt="img" class="img-fluid" data-aos="fade-up" />
                      </div>
                      <div class="col-md-9 col-10" data-aos="fade-up">
                        <h3 class="cnt-name">Customer Care</h3>
                        <a href="tel:{{ content.field_mcustomer_care.0 }}" class="cnt-desc">{{ content.field_mcustomer_care.0 }} (toll free)</a>
                      </div>
                    </div>
                    <div class="row align-items-center side_contain">
                      <div class="col-md-2 col-2 pr-0">
                        <img src="/themes/custom/jiobp/assets/images/air_bp/icons/mail.svg" alt="img" class="img-fluid" data-aos="fade-up" />
                      </div>
                      <div class="col-md-9 col-10" data-aos="fade-up">
                        <h3 class="cnt-name">Mail us at</h3>
                        <a href="mailto:{{ content.field_mmail_us_at.0 }}" class="cnt-desc text-white">{{ content.field_mmail_us_at.0 }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="contact-list">
                    <div class="contact-list__top">
                      <h2 class="block_info--title" data-aos="fade-up">Check Fuel Prices</h2>
                      <span class="pill_underline" data-aos="fade-up"></span>
                      <p class="block_info--desc" data-aos="fade-up">{{ content.field_check_fuel_prices.0|raw }}</p>
                      <p class="sms__info" data-aos="fade-up">{{ content.field_sms_text.0 }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>