{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'about_us',
  ]
%}
{% block content %}
<section class="hp-about">
    <div class="jiobp_curve py-7">
        <div class="gap_60 d-none"></div>
        <div class="container">
            <div class="card">
                <div class="card-img" data-aos="fade-up">
                    <picture>
                        <source media="(min-width:768px)" srcset="{{ content.field_a_upload_image_desktop.0 }}">
                        <source media="(max-width:767px)" srcset="{{ content.field_a_upload_image_mobile.0 }}">
                        <img src="{{ content.field_a_upload_image_desktop.0 }}" class="img-fluid" alt="">
                    </picture>
                </div>
                <div class="card-body">
                    <h2 class="title" data-aos="fade-up">
                        {{ content.field_a_title.0 }}
                    </h2>
                    <p class="text" data-aos="fade-up">
                        {{ content.field_a_text.0 }}
                    </p>
                    <h3><a href="{{ content.field_a_link.0 }}" data-aos="fade-up" class="card-btn">Read More</a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}