<section class="contact_section" data-aos="fade">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="contact-card" data-aos="fade">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div >
                                <h1 class="block_info--title" data-aos="fade-up">
                                    {{ content.field_cotitle.0 }}
                                </h1>
                                <span class="pill_underline" data-aos="fade-up"></span>
                                <p class="block_info--desc" data-aos="fade-up">
                                    {{ content.field_cotext.0 }}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 brd-lft">
                            <div class="contact-list">
                            <div class="row mb-4">
                                <div class="col-md-3 col-3 text-right">
                                    <img src="../themes/custom/jiobp/assets/images/air_bp/icons/user.svg" alt="img" class="img-fluid" data-aos="fade-up">
                                </div>
                                <div class="col-md-9 col-9">
                                    <h3 class="cnt-name" data-aos="fade-up">Customer Care</h3>
                                    <p class="cnt-desc" data-aos="fade-up">{{ content.field_customer_care.0 }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-3 text-right">
                                    <img src="../themes/custom/jiobp/assets/images/air_bp/icons/mail.svg" alt="img" class="img-fluid" data-aos="fade-up">
                                </div>
                                <div class="col-md-9 col-9">
                                    <h3 class="cnt-name" data-aos="fade-up">Mail us at</h3>
                                    <p class="cnt-desc" data-aos="fade-up"> <a href="mailto:{{ content.field_mail_us_at.0 }}" class="text-white">{{ content.field_mail_us_at.0 }}</a> </p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>