{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'heretoserve',
  ]
%}
{% block content %}
<style>
.castrol_brand .btn-light {
	padding: 9px 30px;
	background: #f0f0f0; 
	color: #1d9350; 
	border-radius: 20px; 
	-webkit-transition: all ease 0.5s; 
	transition: all ease 0.5s; 
	margin-top: 50px; 
	display: inline-block;
}

@media only screen and (max-width: 600px) {
.castrol_brand .btn-light {
margin-top: 0;
margin-bottom: 35px;
}
}
</style>
<section class="castrol_brand">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="block_info--title">
            {{ content.field_cbtitle.0 }}
          </h2>
          <span class="pill_underline"></span>
          <p class="block_info--desc">
            {{ content.field_cbtext.0 }}
          </p>

          <div class="card_li" data-aos="patch-left">
            <ul>
            {% if content.field_features %}
                {% for key, item in content.field_features if key|first != '#' %}
                <li>
                    <img src="../themes/custom/jiobp/assets/images/fuels-at-jio-bp/icons/checked.svg" alt="jio-bp">
                    {{ item['#paragraph'].field_cbftext[0].value|raw }}
                </li>
                {% endfor %}
            {% endif %}
            </ul>
          </div>
          <a target="_blank" data-aos="fade-left" href="https://www.transconnect.co.in/transconnect/home" class="btn-light">Know More</a>
        </div>
        <div class="col-md-6">
          <picture>
            <img src="{{ content.field_cbupload_image.0 }}" alt="{{ content.field_cbtitle.0 }}">
          </picture>
        </div>
      </div>
    </div>
</section>
{% endblock %}