{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'heretoserve',
  ]
%}
{% block content %}
<section class="our-feature feature2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="block_info--title" data-aos="fade-up">
            {{ content.field_eotitle.0 }}
          </h2>
          <span class="pill_underline" data-aos="fade-up"></span>
          <div class="block_info--desc" data-aos="fade-up">{{ content.body.0 }}</div>
        </div>
      </div>
      <div class="row">
        {% set i = 1 %}
        {% if content.field_types_of_engine_oil %}
            {% for key, item in content.field_types_of_engine_oil if key|first != '#' %}
            <div class="col-md-4">
                <div class="our_feature--card mt-0" data-aos="fade-up">
                    <span class="feature-num" data-aos="fade-up">0{{ i }}</span>
                    <h3 class="card-title" data-aos="fade-up">
                        {{ item['#paragraph'].field_teotitle[0].value|raw }}
                    </h3>
                    <p class="card-desc" data-aos="fade-up">
                        {{ item['#paragraph'].field_teotext[0].value|raw }}
                    </p>
                </div>
            </div>
            {% set i = i + 1 %}
            {% endfor %}
        {% endif %}
      </div>
    </div>
</section>
{% endblock %}