{% set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'whatsnew',
  ]
%}
{% block content %}
{% if nid == '1' %}
<section class="jio_news" data-aos="fade-in">
    <div class="jio_news"  data-aos="fade-in">
        <div class="gap_100"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 pr-md-0">
                    <h3 class="title" data-aos="fade-up">
                        {{ content.field_news_title.0 }}
                    </h3>
                    <div class="desc ml-0" data-aos="fade-up">
                        {{ content.field_news_text.0 }}
                    </div>
		<div>
                    <div class="gap_60"></div>
                        {{ latest_news }}
                        {# {% if content.field_whats_new %}
                            {% for key, item in content.field_whats_new if key|first != '#' %}
                            <a href="/news/{{ item['#paragraph'].field_slug[0].value|raw }}" data-aos="fade-up" >
                                <div class="jio_news_each" data-aos="fade-up">
                                    <div class="jio_news_each--label">
                                        {{ item['#paragraph'].field_date[0].value|raw|date("d M, Y") }}
                                    </div>
                                    <div class="jio_news_each--title">
                                        {{ item['#paragraph'].field_ntitle[0].value|raw }}
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        {% endif %} #}
                    </div>
                    <div class="gap_30"></div>
                    <div data-aos="fade-up">
                        <h3 class="jio_social content-area">
                            <a href="news-room" class="btn-light-green">Read More</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap_100"></div>
    </div>
</section>
{% elseif nid == 14 %}
<section>
    <div class="jio_news press-release"  data-aos="fade-up">
        <div class="gap_100"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 pr-md-0">
                    <h2 class="title" data-aos="fade-up">
                        Latest Press Releases
                    </h2>
                    <div class="desc ml-0" data-aos="fade-up">
                        Keep up by reading more about a unique partnership that combines international expertise and local strengths to the market.
                    </div>
                    <div class="gap_60"></div>
                        {{ latest_news }}
                        {# {% if content.field_whats_new %}
                            {% for key, item in content.field_whats_new if key|first != '#' %}
                            <div class="jio_news_each" >
                                <a href="/news/{{ item['#paragraph'].field_slug[0].value|raw }}" data-aos="fade-up">
                                    <div class="jio_news_each--label">{{ item['#paragraph'].field_date[0].value|raw|date("d M, Y") }}</div>
                                    <div class="jio_news_each--title">{{ item['#paragraph'].field_ntitle[0].value|raw }}</div>
                                </a>
                            </div>
                            {% endfor %}
                        {% endif %} #}
                    <div class="gap_30"></div>
                    <div data-aos="fade-up">
                        <div class="jio_social content-area">
                            <a href="#" id="loadMoreBtn" class="btn-light-green">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gap_100"></div>
    </div>
</section>
{% endif %}
{% endblock %}